@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Set your brand colors
// Graphical identity
$red: #c7233b;
$red-light: #f5424d;
$blue: #1c4481;
$blue-light: #5b8ba1;
$blue-lighter: #b4d5de;
$grey: #60688d;
$grey-dark: #a1a1a1;
$orange: #e47a2e;
$orange-light: #f28d1b;
$green: #0f8a5f;
$green-light: #34a65f;
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $blue-light;
$info: $red-light;
$link: $green;
$success: $blue;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$body-background-color: $blue-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "~bulma";
